[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

django = ">=2.0.8"
"graphene-django" = "*"
"django-filter" = "*"


[dev-packages]


[requires]
python_version = "3.6"