body {
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

header {
  padding: 10px 10vw;
  background: #2B423C;
  color: white;
  height: 160px;
}

header h2 {
  color: #8FD173;
}

header * {
  font-weight: 300;
}

section {
  padding: 10px 10vw;
}

.star {
  margin-left: 10px;
  font-size: 1em;
  color: rgb(184, 133, 3);
  cursor: pointer;
}

button.star {
  margin-left: 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

ul li {
  width: 30%;
  border: solid 1px #8FD173;
  padding: 2px 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

ul li h3 {
  font-size: 1.1rem;
}

@media (max-width: 900px) {
  ul li {
    width: 45%;
  }
}

@media (max-width: 600px) {
  ul li {
    width: 100%;
  }
}